* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
    background-image: url('https://i.pinimg.com/originals/57/9e/d2/579ed2cedf82391c07ec8ca6d4812693.jpg');
    height: 100vh;
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
